body {
	background-color: #008CBA;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: left;
	margin: 0;
	padding: 0
}

body a {
	color: black;
	text-decoration: none
}

#header {
	text-align: center;
	/*border: 3px dashed blue;
	border-radius: 40%;
	width: 6em;
	height: 1.5em;*/
	margin-top: 0;
	padding: 0;
	background-image: url(https://saddahaq.blob.core.windows.net/multimedia/16112181-flags-of-the-world.jpg);
	background-position: center;
	background-color: white;
	background-size: 9em;
	background-repeat: no-repeat;
	box-shadow: 2px 10px 50px black;
}

h1 {
	margin: 0;
	font-size: 7em;
	position: relative;
	top: .2em
}

h2 {
	font-size: 1.5em;
	color: white;
	text-align: center;
	text-decoration: underline;
	background-color: #071B21;
	position: relative;
	top: .5em
}

#main {
	width: 65%;
	background-color: white;
	display: inline-block;
	margin: auto;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-radius: 2px;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em
}

#log {
    text-align: right;
    font-weight: bold;
    font-size: .8em;
    padding-right: 3px;
    position: relative;
    top: -20em;
    height: 2em
}

#log a {
    text-decoration: underline;
}

#main h3 {
	font-family: Tahoma;
	display: inline-block;
	font-weight: bold;
}

/*#main p {
	display: inline-block
}*/

#links {
	background-color: #071B21;
	border: 1px solid #071B21;
	text-align: center;
	border-radius: 3px;
	color: white;
	width: 60%;
	margin: auto
}

body p a:link {
	color: white;
	font-size: 1.2em;
	text-decoration: none;
}

body p a:visited {
	color: white
}

body p a:hover {
	color: red;
	font-style: italic
}

.wrap {
	background-color: #AAAAAA;
	border: 3px solid gray;
	border-radius: 2px;
	margin-top: 0;
	padding-left: 1em;
	padding-right: 1em
}

#side {
	display: inline-block;
	border-left: 5px solid #071B21;
	border-radius: 10px;
	background-color: gray;
	margin-left: 2em;
	width: 12%;
	position: relative;
	top: 2em;
}

form {
    width:  10em
}

form p {
	color: red; 
    font-size: .6em
}

h6 {
	text-align: center;
	position: relative;
	bottom: 0em
}

#chat {
    background-color: white;
    height:  20em;
    width: 100%;
    border:  1px solid black;
}

#send {
    margin-left: 0;
    border: 1px solid black;
}

textarea {
    resize: none
}

footer {
	text-align: center;
	font-size: .7em;
	font-weight: bold
}
