/*Police du titre*/
@font-face {
	font-family: perfectdark;
	src: url("pdark.otf") format("opentype");
}

/*Couleur de fond, police du texte*/
body {
	background-color: #008CBA;
	font-family: Raleway;  /*"Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	text-align: left;
	margin: 0;
	padding: 0;
}

/*Police du texte*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
}

/*Liens sont en noir et sans soulignement*/
body a {
	color: black;
	text-decoration: none
}

/*Bannière du site (image sur fond blanc)*/
#header {
	text-align: center;
	margin-top: 0;
	padding: 0;
	background-image: url(https://saddahaq.blob.core.windows.net/multimedia/16112181-flags-of-the-world.jpg);
	background-position: center;
	background-color: white;
	background-size: 9em;
	background-repeat: no-repeat;
	box-shadow: 2px 15px 50px black;
}

/*Titre du site*/
h1 {
	margin: 0;
	font-size: 7em;
	position: relative;
	top: .2em;
	font-family: perfectdark
}

/*Sous-titre du site*/
h2 {
	font-size: 1.5em;
	color: white;
	text-align: center;
	background-color: #071B21;
	position: relative;
	top: 0em;
    	box-shadow: 0px -2px 10px black;
}

/*Division principale du site*/
#main {
	width: 75%;
	background-color: black;
	color: white;
	margin-left: 2em;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-radius: 2px;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	text-align: justify;
	box-shadow: 8px 8px 30px #001C39
}

/*Liens vers la page de connexion, de création de compte, ou de déconnexion*/
#log {
    text-align: right;
    font-weight: bold;
    font-size: .8em;
    padding-right: 3px;
    position: relative;
    top: 2em;
    height: 2em;
    color:  black;
    margin-right: .4em
}

#log a {
    text-decoration: none;
    font-weight: bold
}

/*Division pour entrer les identifiants sur n'importe quelle page*/
#login {
    position: fixed;
    margin-right: 2em;
    width:  20%;
    right: -.5em;
    background-color: black;
    color: white;
    border-radius: 3px;
    width: 14%;
    padding-left: .8em;
    padding-bottom: .3em;
    top: 19.05em;
    box-shadow: 2px 10px 20px black;
}
#login input[type='submit'] {
    margin-top: .3em
}

/*Message de bienvenue sur la page d'accueil*/
#main h3 {
	font-family: Tahoma;
	display: inline-block;
	font-weight: bold;
}

/*Liens sous la bannière pour accéder aux différentes pages du site*/
#links {
	background-color: #071B21;
	border: 1px solid #071B21;
	margin-left: 2em;
	margin-top: 2em;
	border-radius: 3px;
	color: white;
	width: 78%;
	text-align: center;
	position: relative
}

body p a:link {
	color: white;
	font-size: 1.2em;
	text-decoration: none;
}

body p a:visited {
	color: white
}

body p a:hover {
	color: red;
	font-style: italic
}

.wrap {
	background-color: #071B21;
	border: 3px solid #071B21;
	border-radius: 2px;
	margin-top: 0;
	padding-left: 1em;
	padding-right: 1em
}

#side {
	display: inline-block;
	border-left: 5px solid #071B21;
	border-radius: 10px;
	background-color: #071B21;
	margin-left: 2em;
	width: 12%;
	position: relative;
	top: 2em;
}

form {
    width:  10em
}

form p {
	color: red; 
    font-size: .6em
}

h6 {
	text-align: center;
	position: relative;
	bottom: 0em
}

#chat {
    background-color: white;
    height:  20em;
    width: 100%;
    border:  1px solid black;
}

#send {
    margin-left: 0;
    border: 1px solid black;
}

textarea {
    resize: none
}

footer {
	text-align: center;
	font-size: .7em;
	font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.8em
}

.message {
    background-color: #071B21;
    border-radius: 10px;
    padding: .5em;
    margin-top: 2em
}

.timestamp {
    font-size: .7em;
    color: #AAAAAA;
    width: 100%;
    height: 0px;
    display: inline-block;
    text-align: right;
    position: relative;
    top: -2em;
}

#send_forum {
    width: 100%;
    border-radius: 5px;
}
